<div style="min-height:75%;" ng-animate="'animate'" ng-repeat="job in jobTmp" ng-click="selectJob(job.id)">
	<div style=" cursor:pointer; border-radius:5px; padding:10px;" ng-class="{'box-selected': job.id==hero.job_id}">
		<div class="small-box">
			<img style="width:100px;height:100px" ng-src="{{getImage(job)}}"/>
		</div>
		<div style="text-align:center;">
			<h4>{{job.name}}</h4>
		</div>
	</div>

</div>
<div style="margin-top:20px;">
	<button class="btn btn-info" ng-show="!job.first" ng-click="getPreviousJob(job.id)">Prev.</button>
	<button class="btn btn-success" ng-show="!job.last" ng-click="getNextJob(job.id)">Next</button>
</div>