<div style="min-height:75%;" ng-animate="'animate'" ng-repeat="race in raceTmp" ng-click="selectRace(race.id)">
	<div style="cursor:pointer; border-radius:5px; padding:10px;" ng-class="{'box-selected': race.id==hero.race_id}">
		<div class="small-box">
			<img style="width:100px;height:100px" ng-src="{{getImage(race)}}"/>
		</div>
		<div style="text-align:center;">
			<h4>{{race.name}}</h4>
		</div>
	</div>
</div>
<center>
	<div style="margin-top:20px;">
		<button class="btn btn-info"  ng-show="!race.first" ng-click="getPreviousRace(race.id)">Prev.</button>
		<button class="btn btn-success" ng-show="!race.last" ng-click="getNextRace(race.id)">Next</button>
	</div>
</center>