<div class="animation" ng-repeat="weapon in weaponTmp" ng-click="selectWeapon(weapon.id)">
	<div class="box-item" ng-class="{'box-selected': weapon.id==hero.weapon_id}">
		<div class="small-box">
			<img style="width:100px;height:100px" ng-src="{{getImage(weapon)}}"/>
		</div>
		<div style="text-align:center;">
			<h4>{{weapon.name}}</h4>
			<span>{{weapon.desc}}</span>
		</div>
	</div>
</div>
<center>
	<div style="margin-top:20px;">
		<button class="btn btn-info pull-left" ng-show="!weapon.first" ng-click="getPreviousWeapon(weapon.id)">Prev.</button>
		<button class="btn btn-success pull-right" ng-show="!weapon.last" ng-click="getNextWeapon(weapon.id)">Next</button>
	</div>
</center>