<!-- <ul style="list-style-type:none">-->
<div ng-animate="'animate'" ng-repeat="weapon in weaponTmp" ng-click="selectWeapon(weapon.id)">
	<div style="text-align:center;">
		<h4>{{weapon.name}}</h4>
		<span>{{weapon.desc}}</span>
	</div>
</div>
<!-- </ul>-->
<div style="margin-top:25px;">
<button ng-click="getPreviousWeapon(weapon.id)">Previous</button>
<button ng-click="getNextWeapon(weapon.id)">Next</button>
</div>
<!-- ng-show="isHeroWeapon(weapon)" | <weaponItem id="weapon.id"></weaponItem>
-->