<div ng-controller="HeroCtrl">
	<div class="row" >
		<div  class="col-xs-12 col-md-12">
			<div class="well center medium-box">
				<ul style="list-style-type:none">
					<li ng-repeat="hero in heroes">
						<div class="well">
							<span>{{hero.name}}</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div  class="col-xs-6 col-md-12">
			<div  class="well col-xs-2 col-md-3 box">
				<weapons></Weapons>
			</div>
			<div  class="well col-xs-2 col-md-3 box">
				<races></Races>
			</div>
			<div  class="well col-xs-2 col-md-3 box">
				<jobs></Jobs>
			</div>
		</div>
	</div>
</div>